.team{
    height: auto;
    padding-top: 100px;
}
.t-head{
    background-color: rgb(228, 227, 227);
    height: 50px;
}
.t-head h1{
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px 0px;
    margin: 30px auto;
    place-items: center;
}

.grid img:hover{
    box-shadow: 10px 10px 5px #888888;
    transition: all 0.5s ease-in-out;
    border-radius: 0.5rem;
        
}
.text-block {
    height: 400px;
    width: 300px;
    position: relative;
}
.text-block img{
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.tex {
    position: absolute;
    text-align: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}
.text-block h3{
    color: white;
    margin-bottom: 0;
}
.text-block p{
    margin-top: 5px;
    font-size: 14px;
    color: rgb(44, 42, 42);
    color: white;
}
@media screen and (max-width: 37.5em) {
    .grid{
        grid-template-columns: 1fr;
    }
    .team{
        height: auto;
    }
}
@media screen and (max-width: 75em) {
    .grid{
        grid-template-columns: 1fr;
    }
}
