.srvs{
    padding-top: 100px;
    max-width: 1440px;
}
.svs{
    color: rgb(26, 24, 24);
    text-align: center;
    background-color: #E7E7E7;
    height: 50px;
    padding-top: 5px;
}
.svs h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
.grad{
    text-align: center;
    padding-top: 40px;
}
.grad img{
    width: 168px;
}
.grad h3{
    color: rgb(26, 24, 24);
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.str{
    padding-left: 60px;
    padding-right: 60px;
}
.str p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #303030;
}
.cc-gen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
}
.cc{
    border-radius: 0.3rem;
}
.cc h3{
    background-color: #B50000;
    width: fit-content;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    border-radius: 0.3rem;
}
.cc-desc p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #303030;
    width: 649px;
}
.te-gen{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
        
}
.te-desc p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #303030;
    /* width: 300px; */
}
.test-con{
    background-color:#B50000;
    height: 30px;
    width: 200px;
    border-radius: 0.3rem;
}
.test-con p{
    color: white;
    font-weight: bold;
}
.uap{
    background-color:#B50000;
    height: 30px;
    width: 290px;
    border-radius: 0.3rem;
}
.uap p{
    color: white;
    font-weight: bold;
}
.uapt p{
    height: 50px;
    width: 520px;
}

.uap-li{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-right: 60px;
    padding-left: 60px;
}
.mtd{
    background-color:#B50000;
    text-align: center;
    height: 214px;
    margin-top: 20px;
}
.mtd img{
    width: 92.55px;
    margin-top: 40px;
}
.mtd p{
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* margin-bottom: 50px; */
}
.cas{
    text-align: center;
    margin-top: 60px;
}
.cas img{
    height: 80px;
}
.cas p{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #303030;
}
.cas-text p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #303030;
    margin-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;
}
/* Media Queries */
@media screen and (max-width: 37.5em){
    .svs{
        padding-top: 1px;
    }
    .svs h1{
        font-size: 25px;
        padding-top: 5px;
    }
    .grad h3{
        font-size: 25px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .str p{
        font-size: 15px;
        padding-top: 20px;
    }
    .cc-gen{
        flex-direction: column;
    }
    .cc-desc p{
        font-size: 15px;
        width: 100%;
        padding-bottom: 30px;
    }
    .te-gen{
        flex-direction: column;
    }
    .te-desc p{
        font-size: 15px;
        padding-top: 20px;
    }
    .te-gen img{
        width: 100%;
    }
    .uap-li {
        font-size: 15px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 30px;
    }
    .mtd{
        height: 230px;
    }
    .mtd p{
        font-size: 25px;
    }
    .cas p{
        font-size: 25px;
    }
    .cas-text p{
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (max-width: 75em) {
    .cc-gen{
        flex-direction: column;
    }
    .str p {
        font-size: 15px;
    }
    .cc h3{
        font-size: 15px;
    }
    .te-gen{
        flex-direction: column-reverse;
    }
    .cc-desc p{
        padding-top: 20px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .te-desc p{
        padding-top: 20px;
        font-size: 15px;
    }
    .uap-li {
        font-size: 15px;
        margin-top: 10px;
    }
    .mtd p {
        font-size: 18px;
    }
    .cas-text p{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 15px;
    }
}
