.contact{
    padding-top: 80px;
}
.con-us{
    background-color: rgb(228, 227, 227);
    text-align: center;
    /* height: 120px; */
}
.con-us h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #303030;
}
.con-us p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #303030;
}
.addr{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 30px 0;
}
.add h3{
    background-color:#B50000;
    width: fit-content;
    padding: 5px 10px;
    color: white;
    border-radius: 0.3rem;
}
.add p{
    color: black;
    font-weight: 600;
    width: 400px;
}
.addi p{
    color: rgb(59, 57, 57);
    font-weight: 500;
    /* height: 10px; */
    width: 280px;
}
.soc-m{
    text-align: center;
}
.soc-m img{
    height: 70px;
    margin: 0px 10px 30px 20px;
    cursor: pointer;
}
.soc-m img:hover{
    box-shadow: 10px 10px 5px #888888;
    transition: all 0.5s ease-in-out;
    border-radius: 0.5rem;
}
.bookings{
    text-align: center;
    /* height: 1000px; */
    background-color: rgb(216, 210, 210);
}
.bookings h2{
    padding-top: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #303030;
}
.bookings p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #303030;
}
.frm-d{
    display: grid;
    gap: 30px;
    width: 50%;
    margin: 0 auto;
}
.frm-d label{
    margin-left: -460px;
}
.frm-d button{
    color: white;
    width: 259px;
    height: 42px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border-style: none;
    margin-bottom: 20px;
    border-radius: 0.3rem;
    background-color: #B50000;
}
.frm-d button:hover{
    background-color: #e03434;
}
.frm-d input{
   padding: 12px;
   border: none;
   border-radius: 0.1rem; 
}
.frm-d input::placeholder{
    /* position: relative;
    left: 10px; */
    font-style: normal;
    font-weight: bold;
}
.b-in{
    display: grid;
    height: 50px;
    width: 600px;
    margin: 30px;
    position: relative;
    top: 20px;
    left: 250px;
    border-style: none;
}
.frm-d{
    color: black;
}
#react-select-3-listbox{
    width: 140px;
    /* position: absolute;
    left: 550px; */
}
#react-select-5-listbox{
    width: 140px;
    /* position: absolute;
    left: 550px; */
}
#react-select-7-listbox{
    width: 160px;
    /* position: absolute;
    left: 540px; */
}
@media screen and (max-width: 37.5em) {
    .addr{
        flex-direction: column;
        padding: 30px;
    }
    .add p{
        width: 100%;
    }
    .con-us h1{
        font-size: 25px;
    }
    .con-us p{
        font-size: 15px;
    }
    .bookings p{
        font-size: 15px;
    }
    .frm-d{
        /* padding-left: 30px; */
        padding-right: 70PX;
    }
    .frm-d label{
        margin-left: -50px;
    }
}
@media screen and (max-width: 75em) {
    .addr{
        flex-direction: column;
        padding-left: 100px;
    }
    .frm-d label{
        margin-left: -170px;
    }
}