.nav{
    position: fixed;
    height: 10px;
    width: auto;
}
.navbar{
    display: flex;
    background-color: brown;
    color: white;
}
.nav-links{
    display: flex;
    list-style: none;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}
.logo{
    width: 120px;
    height: 120px;
}