.nav{
    position: fixed;
    width: auto;
    z-index: 400;
    width: 100%;
}
.navbar{
    background-color:#B50000;
    color: white;
    display: flex;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 60px;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.mobile-nav{
    display: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.logo{
    transform: scale(1.3);
    width: 100px;

}
@media screen and (max-width: 37.5em) {
    .nav-links{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    .mobile-links{
        display: flex;
        flex-direction: column;
        background-color: #B50000;
        text-align: center;
        color: white;
        padding: 0;
        margin: 0;
    }
    .mobile-links a{
        padding: 10px 0;
    }
}