/* .abt{
    height: 20px;
} */
.vis-mis{
    position: relative;
    bottom: 60px;
}
.text{
    height: 600px;
    width: 600px;
}
.a img{
    height: 230px;
    width: 400px;
    position: relative;
    bottom: 600px;
    left: 800px;
}
.texts{
    height: 600px;
    width: 600px;
    position: relative;
    left: 800px;
    bottom: 600px;
}
.texts-b{
    font-weight: bold;
}
.b img{
    position: relative;
    right: 750px;
    bottom: 250px;
    height: 300px;
}
.vis{
    position: relative;
    background-color: rgb(212, 207, 207);
    height: 150px;
    width: 150px;
    bottom: 800px;
    left: 50px;
    border-radius: 0.7rem;
}
.vis img{
    position: relative;
    left: 20px;
    top: 20px;
    height: 110px;
}
.vis-t{
    position: relative;
    bottom: 150px;
    left: 180px;
    height: 150px;
    width: 280px;
}
.hb{
    position: relative;
    top: 20px;
}
.mis {
    position: relative;
    background-color: rgb(212, 207, 207);
    height: 150px;
    width: 150px;
    bottom: 950px;
    left: 800px;
    border-radius: 0.7rem;
}

.mis img {
    position: relative;
    left: 20px;
    top: 20px;
    height: 110px;
}

.mis-t {
    position: relative;
    bottom: 150px;
    left: 180px;
    height: 150px;
    width: 280px;
}
.values{
    height: 250px;
    background-color: rgb(177, 1, 1);
    position: relative;
    bottom: 900px;
}
.values h1{
    position: relative;
    color: white;
    top: 30px;
    left: 530px;
}
.excel{
    position: relative;
    top: 30px;
    left: 250px;
    height: 80px;
}
.excel p{
    color: white;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    right: 10px;
}
.integrity{
    position: relative;
    left: 500px;
    bottom: 40px;
}
.integrity p{
    color: white;
    font-weight: bold ;
    position: relative;
    bottom: 15px;
    left: 30px;
}
.reliable{
    position: relative;
    bottom: 200px;
    left: 750px;
}
.reliable p{
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 15px;
    left: 15px;
}
.humanity{
    position: relative;
    bottom: 360px;
    left: 1000px;
}
.humanity p{
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 15px;
    left: 10px;
}
.mail-l{
    height: 400px;
    background-color: rgb(226, 220, 220);
    position: relative;
    bottom: 925px;
}
.mail-l h1{
    color: rgb(56, 51, 51);
    position: relative;
    left: 370px;
    top: 30px;
}
.mail-l input{
    display: block;
    height: 20px;
    width: 700px;
    margin: 30px;
    position: relative;
    top: 20px;
    left: 250px;
    border-style: none;
}
.input button{
    height: 30px;
    width: 100px;
    border-radius: 0.3rem;
    border-style: none;
    color: white;
    background-color: rgb(165, 0, 0);
    position: relative;
    left: 280px;
    top: 20px;
}
.input button:hover{
    background-color: brown;
}
