.footer{
    background-color: rgb(51, 48, 48);
    padding: 20px;
}
.all{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.all img{
    width: 200px;
    height: 200px;
    padding-left: 30px;
}
.all p{
    width: 500px;
    padding-top: 60px;
    color: white;
}
.boys{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 65px;
}
.boys h4{
    margin:0;
    color: white;
    /* padding-top: 60px; */
}
.adr{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.tip{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.tip p{
    color: white;
    width: 180px;
}
.arr {
    color: white;
    text-align: center;
}
.sim img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
@media screen and (max-width: 37.5em) {
    .all{
        flex-direction: column;
    }
    .all img{
        width: 100%;
    }
    .all p{
        width: 100%;
    }
    .adr{
        flex-direction: column;
        margin-top: 20px;
    }
}
@media screen and (max-width: 75em) {
    .all p{
        width: 80%;
        margin-right: 50px;
    }
    .all img{
        padding-right: 50px;
        width: 80%;
    }
    .adr{
        flex-direction: column;
    }
}
