.footer{
    background-color: rgb(51, 48, 48);
    padding: 20px;
}
.all{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}
.all img{
    width: 200px;
    height: 200px;
    padding-left: 30px;
}
.all p{
    width: 550px;
    padding-top: 60px;
    color: white;
}
.boys{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 65px;
}
.boys h4{
    margin:0;
    color: white;
    cursor: pointer;
    /* padding-top: 60px; */
}
.adr{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}
.tip{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.tip p{
    color: white;
    width: 300px;
}
.con {
    display: flex;
    flex-direction: row;
    margin-left: -50px;
    align-items: center;
    color: white;
}
.conP {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 4px;
    /* width: 50px; */
}
.arr {
    color: white;
    text-align: center;
}
.sim {
    display: flex;
    flex-direction: row;
}
.sim img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.sim-p img {
    margin-top: -8px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
@media screen and (max-width: 37.5em) {
    .all{
        flex-direction: column;
    }
    .all img{
        width: 100%;
    }
    .all p{
        width: 70px;
    }
    .adr{
        flex-direction: column;
        margin-top: 20px;
        margin-left: -30px;
        gap: 20px;
    }
    .tip {
        padding-left: -10px;
    }
    .tip p {
        width: 130px;
    }
    .sim-p img {
        margin-top: -4px;
    }
}
@media screen and (max-width: 75em) {
    .all p{
        width: 80%;
        margin-right: 50px;
    }
    .all img{
        padding-right: 50px;
        width: 80%;
    }
    .con {
        flex-direction: row;
        margin-left: -60px;
    }
    .conP {
        flex-direction: column;
    }
    .adr{
        flex-direction: column;
    }
}
